= form_for(institution) do |f|
  = render partial: '/shared/form_errors', locals: {objectWithErrors: institution}
  .form-group
    = f.label :name, 'Name*'
    = f.text_field :name, value: institution.name, class: 'form-control', require: true, placeholder: 'Our Awesome High School'
  
  .form-group
    = f.label :location, 'Location*'
    = f.text_field :location, value: institution.location, class: 'form-control', require: true, placeholder: 'Street, Town/City, Province, Country'

  .form-group
    = f.label :institution_type, 'Type*'
    = f.select :institution_type, Institution.types, class: 'form-control', require: true

  .form-group
    = f.label :website
    = f.text_field :website, value: institution.website, class: 'form-control', placeholder: 'www.our-school.co.za'

  .form-group
    = f.label :bio, 'Bio*'
    = f.text_area :bio, value: institution.bio, class: 'form-control', require: true, placeholder: 'Short or long history of school (can be edited later)'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', [institution], class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'
