.row.main-notification-block
  .col-sm-10 
    = link_to institution.name, institution
  .col-sm-2
    - if get_institution_id(current_user) != institution.id
      = link_to 'Join', join_institution_path(institution.id)
    - else
      = link_to 'Leave', leave_institution_path(institution.id)
  %hr
