= render partial: '/shared/manage', locals: {manageable: institution}
%h4
  = institution.name

%h5
  = institution.location

%h6
  %span.label-field.fa-laptop
  = institution.website

.bg-faded
  .post
    = institution.bio
