- content_for :left_bar do
  %ul.nav.nav-stacked
    
    - if can?(:create, Institution)
      %li.nav-item
        = link_to '<span class="fa-plus"></span> Institution'.html_safe, new_institution_path, class: 'nav-link'

  = render partial: '/institutions/left_bar_contents', locals: {institution: institution}
