- if defined?(institution) && institution
  .stacked-nav-title 
    Institution
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        - if can?(:create, Subject)
          %li.nav-item
            = link_to '<span class="fa fa-plus"></span> Subject'.html_safe, new_subject_path, class: 'nav-link'
        %li.nav-item
          .row
            .col-md-12
              = link_to '<span class="fa fa-users"></span> Roles'.html_safe, roles_institution_path(institution)
          .row
            .col-md-12
              %ul.nav.nav-stacked
                %li.nav-item
                  = link_to 'HR', roles_institution_path(institution, role: 'hr'), class: 'nav-link'
                %li.nav-item
                  = link_to 'Students', roles_institution_path(institution, role: 'student'), class: 'nav-link'
                %li.nav-item
                  = link_to 'Teachers', roles_institution_path(institution, role: 'teacher'), class: 'nav-link'
                %li.nav-item
                  = link_to 'Tutors', roles_institution_path(institution, role: 'tutor'), class: 'nav-link'
        %li.nav-item
          = link_to '<span class="fa-align-left"></span> Subjects'.html_safe, list_institution_path(institution), class: 'nav-link'

= render partial: '/shared/subjects_nav'
-# - if defined?(subject) && !subject.nil?
-#   = render partial: '/shared/subject_features', locals: {subject: subject}
