= render partial: '/institutions/left_bar', locals: {institution: nil}
= render partial: '/institutions/institution_index', collection: @institutions, as: 'institution'
= render partial: '/institutions/right_bar'
