= render partial: '/institutions/left_bar', locals: {subject: nil, institution: nil}
- if @subjects.none?
  .nothing-to-list.text-sm-center
    There is no subject yet, wait for the staff to add them...
- else
  = render partial: '/subjects/subject_index', collection: @subjects, as: 'subject'
= render partial: '/subjects/right_bar', locals: {subject: nil}
