= render partial: '/institutions/left_bar', locals: {institution: nil}
= render partial: '/institutions/institution_form', locals: {institution: @institution}
= render partial: '/institutions/right_bar'
