
= render partial: '/institutions/left_bar', locals: {institution: @institution}
.row
  .col-sm-12.no-padding
    %h4.title
      = @role_name
  .col-sm-12
    - if @users.any?
      = render partial: '/users/user_index', collection: @users, as: 'user'
    - else
      .nothing-to-list.text-sm-center
        No one has this role...
= render partial: '/users/right_bar'
