= render partial: '/institutions/left_bar', locals: {institution: @institution}
= render partial: '/institutions/institution', locals: {institution: @institution}
= render partial: '/institutions/right_bar'
