- if !defined?(manageable) || manageable == true
  = render partial: '/shared/manage', locals: {manageable: [subject, announcement]}
  = render partial: '/announcements/announcement_content', locals: {announcement: announcement}
- else
  .row.index-announcement-block.bg-faded
    .col-sm-12
      = render partial: '/announcements/announcement_content', locals: {announcement: announcement, link: [subject, announcement]}
