.row
  .col-sm-12
    %h2.title
      - if !defined?(link)
        = announcement.title
      - else
        = link_to announcement.title, link
  .col-sm-12.post
    = format_string(announcement.body)
  .col-sm-12
    = render partial: '/shared/post_details', locals: {post: announcement}
