= form_for [subject, announcement] do |f|
  = render partial: '/shared/form_errors', locals: {objectWithErrors: announcement}
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', [subject, announcement], class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'

  

