- content_for :left_bar do
  = render partial: '/subjects/left_bar_contents', locals: {subject: subject}
  = render partial: '/announcements/options', locals: {subject: subject, featurable: announcement}
  = render partial: '/task_types/task_types_nav', locals: {subject: subject}
