= render partial: '/announcements/left_bar', locals: {subject: @subject, announcement: nil}
- if @announcements.any?
  = render partial: '/announcements/announcement_index', collection: @announcements, as: 'announcement', locals: {subject: @subject}
- else
  .nothing-to-list.text-sm-center
    No announcements have been made yet...
= render partial: '/announcements/right_bar', locals: {subject: @subject}
