= render partial: '/subjects/left_bar', locals: {subject: @subject, announcement: nil}
= render partial: '/announcements/announcement_form', locals: {subject: @subject, announcement: @announcement}
= render partial: '/announcements/right_bar', locals: {subject: @subject}

