= render partial: '/announcements/left_bar', locals: {subject: @subject, announcement: @announcement}
= render partial: '/announcements/announcement', locals: {subject: @subject, announcement: @announcement}
= render partial: '/announcements/right_bar', locals: {subject: @subject}
