.row.comment{id: "comment-#{comment.id}"}
  .col-sm-12.head
    .inner-head
      .row
        .col-sm-10
          .row
            .col-sm-12
              %span.username{title: "#{get_fullname(comment.user)}"}
                = link_to "@#{get_username(comment.user)}", comment.user
              = render partial: '/shared/time', locals: {time: comment.created_at}

        .col-sm-2.text-sm-right
          - if can?(:destroy, comment)
            = link_to '', [subject, post, comment], method: :delete, data: {confirm: 'Are you sure you want to delete this comment?'}, class: 'fa-close'

  .col-sm-12
    .body
      = format_string(comment.body)
