= form_for [subject, task_type] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', subject_task_types_path(subject), class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'
