- if subject
  .stacked-nav-title
    Custom
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        %li.nav-item
          = link_to 'Task Types', subject_task_types_path(subject), class: 'nav-link'
