.row
  .col-sm-12.main-notification-block
    .row
      .col-sm-11
        = best_in_place [subject, task_type], :name, title: 'Click to edit'
      .col-sm-1
        = link_to 'Delete', [subject, task_type], method: :delete, data: {confirm: "Are you sure you want to delete this?"}
