= render partial: '/task_types/left_bar', locals: {subject: @subject}

.row.block
  .col-sm-12
    = render partial: '/task_types/task_type_form', locals: {subject: @subject, task_type: @task_type}

.row
  .col-sm-12.task-types
    = render partial: '/task_types/task_type', collection: @task_types, as: 'task_type', locals: {subject: @subject}

= render partial: '/task_types/right_bar', locals: {subject: @subject}
