- content_for :left_bar do
  = render partial: '/subjects/left_bar_contents', locals: {subject: @subject}
  = render partial: '/tasks/options', locals: {subject: subject, featurable: task}
  - if can?(:manage, TaskType)
    = render partial: '/task_types/task_types_nav', locals: {subject: @subject}
