- if subject
  .stacked-nav-title
    Tasks
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        %li.nav-item
          = link_to 'New', new_subject_task_path, class: 'nav-link'
        = render partial: '/shared/common_options', locals: {subject: subject, featurable: featurable}
- else
