.row.main-notification-block
  .col-sm-12
    .row
      .col-md-2.text-sm-center
        .row
          .col-sm-12
            = task.attachments.count
          .col-sm-12
            Files
      .col-md-10
        .row
          .col-sm-12.title
            = link_to task.title, [subject, task]
          .col-sm-12
            = render partial: '/shared/post_index_details', locals: {post: task}
