= form_for [subject, task] do |f|
  
  = render partial: '/shared/form_errors', locals: {objectWithErrors: task}

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control' 
  .row
    .col-md-6
      .form-group
        = f.label :task_type_id, 'Type'
        = f.select :task_type_id, Task.types(subject.id), {}, class: 'form-control'

    .col-md-6
      .form-group
        = f.label :lifetime
        = f.select :lifetime, Task.lifetimes, {}, class: 'form-control'

  .row
    .col-md-12
      .form-group
        = f.label :start_at, 'Start'
        = f.datetime_select :start_at, {}, class: 'form-control date-select', start_year: 2016
    
    .col-md-12
      .form-group
        = f.label :end_at, 'End'
        = f.datetime_select :end_at, {}, class: 'form-control date-select', start_year: 2016

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'

  .attachments
    = f.fields_for :attachments do |attachment_builder|
      .form-group.nested-fields
        = attachment_builder.label :file, attachment_builder.object.file_file_name
        = attachment_builder.file_field :file, class: 'form-control'
        = link_to_remove_association 'Remove', attachment_builder
    .links
      = link_to_add_association '<span class="fa-cloud-upload"></span> Add'.html_safe, f, :attachments, partial: '/attachments/attachment_field'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', [subject, task], class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'
  
