= render partial: '/shared/manage', locals: {manageable: [subject, task]}
.row
  .col-sm-12
    %h4.title
      = task.title
  .col-sm-12
    .row.times
      - if task.closes?
        .col-md-4
          %span.label-field
            Start:
          = format_time(task.start_at)
        .col-md-4
          %span.label-field
            Close:
          = format_time(task.end_at)
      .col-md-4{title: task.task_type.name}
        %span.label-field
          Type:
        = trunc(task.task_type.name, 12)
  .col-sm-12
    .body
      = format_string(task.body)

  .col-sm-12
    = render partial: '/shared/post_details', locals: {post: task}

  - content_for :attachment_files do
    = render partial: '/attachments/attachment', collection: task.attachments, as: 'attachment'
