= render partial: '/tasks/left_bar', locals: {subject: @subject, task: nil}
- if @tasks.any?
  = render partial: '/tasks/task_index', collection: @tasks, as: 'task', locals: {subject: @subject}
- else
  .nothing-to-list.text-sm-center
    No tasks have been posted yet...
= render partial: '/tasks/right_bar', locals: {subject: @subject}
