= render partial: '/tasks/left_bar', locals: {subject: @subject, task: @task}
= render partial: '/tasks/task', locals: {subject: @subject, task: @task}
= render partial: '/tasks/right_bar', locals: {subject: @subject}
