- content_for :left_bar do
  = render partial: '/past_papers/action_menu'
  = render partial: '/past_papers/subjects_filter', locals: {featurable: past_paper}
  = render partial: '/past_papers/options', locals: {featurable: past_paper}
