- if can?(:create, PastPaper)
  .stacked-nav-title
    Past Papers
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        %li.nav-item
          = link_to 'New', new_past_paper_path, class: 'nav-link'
