= render partial: '/shared/manage', locals: {manageable: past_paper}
.row
  .col-md-2
    = past_paper.producer
  .col-md-2
    = past_paper.paper
  .col-md-3
    = past_paper.province.capitalize
  .col-md-3
    = past_paper.month.capitalize
  .col-md-2
    = past_paper.year
.row
  .col-md-12
    = past_paper.tags

.row.block
  .col-md-12
    = render partial: '/attachments/attachment', collection: past_paper.attachments, as: 'attachment'
