.row.main-notification-block
  .col-sm-12
    %a{href: url_for(past_paper)}
      .row
        .col-md-2
          = past_paper.producer
        .col-md-2
          = past_paper.paper
        .col-md-3
          = past_paper.province.capitalize
        .col-md-3
          = past_paper.month.capitalize
        .col-md-2
          = past_paper.year
      .row
        .col-md-12
          = past_paper.tags
