= form_for past_paper do |f|

  .row
    .col-md-2
      .form-group
        = f.text_field :producer, class: 'form-control', placeholder: 'Producer', title: 'eg. IEB'

    .col-md-2
      .form-group
        = f.text_field :paper, class: 'form-control', placeholder: 'Paper', title: 'eg. B1'

    .col-md-3
      .form-group
        = f.select :province, PastPaper.provinces, {}, {class: 'form-control'}

    .col-md-3
      .form-group
        = f.select :month, PastPaper.months, {}, class: 'form-control', placeholder: 'Month', title: 'eg. March'

    .col-md-2
      .form-group
        = f.number_field :year, class: 'form-control', placeholder: 'Year', title: '2012', min: 2005

  .row
    .col-md-4
      .form-group
        = f.label :subject_type, 'Subject Code'
        = f.text_field :subject_type, title: 'This will link this to subjects that have this code', class: 'form-control'
    .col-md-8
      .form-group
        = f.label :tags, 'Tags'
        = f.text_field :tags, title: 'Key words that students can use to find this paper', class: 'form-control', placeholder: 'eg. mathematics, maths'

  .row
    .col-sm-12
      = f.fields_for :attachments do |attachment_builder|
        .form-group.nested-fields
          = attachment_builder.label :file, attachment_builder.object.file_file_name
          = attachment_builder.file_field :file, class: 'form-control'
          = link_to_remove_association 'Remove', attachment_builder
      .links
        = link_to_add_association 'Add', f, :attachments, partial: '/attachments/attachment_field'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', past_paper, class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'
  
