- if current_user && current_user.subjects.any?
  .stacked-nav-title 
    Filter by
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        - current_user.subjects.order(:name).each do |subject|
          %li.nav-item
            = link_to trunc(subject.name, 21), past_papers_path(subject_type: subject.subject_type), class: 'nav-link', title: "#{subject.name}"

