= render partial: '/past_papers/left_bar', locals: {subject: @subject, past_paper: nil}
- if @past_papers.any?
  = render partial: '/past_papers/past_paper_index', collection: @past_papers, as: 'past_paper'
- else
  .nothing-to-list.text-sm-center
    No past papers have been uploaded yet...
= render partial: '/past_papers/right_bar', locals: {subject: @subject, past_paper: nil}
