= render partial: '/past_papers/left_bar', locals: {subject: @subject, past_paper: nil}
= render partial: '/past_papers/past_paper', locals: {past_paper: @past_paper}
= render partial: '/past_papers/right_bar', locals: {subject: @subject, past_paper: nil}
