= form_for user do |f|
  = render '/shared/form_errors', objectWithErrors: user
  .form-group
    = f.label :username
    = f.text_field :username, class: 'form-control'

  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'

  = f.fields_for :profile do |profile_builder|
    - content_for :left_bar do
      .row
        .col-sm-12
          %img.img-fluid{src: profile_builder.object.image.url(:medium)}

    .form-group
      = profile_builder.label :image
      = profile_builder.file_field :image, class: 'form-control'

    .form-group
      = profile_builder.label :fullname
      = profile_builder.text_field :fullname, class: 'form-control'

    .row
      .col-sm-4
        .form-group
          = profile_builder.label :year
          = profile_builder.number_field :year, class: 'form-control'
      .col-sm-7
        .form-group
          = profile_builder.label :institution_id, 'Institution'
          = profile_builder.select :institution_id, Institution.all_for_select(determine_institution_type(user)), {include_blank: true}, class: 'form-control'
      .col-sm-1
        -# .form-group
        -#   = profile_builder.label :is_public, 'Public', title: 'Visible to the public?'
        -#   = profile_builder.check_box :is_public, {}, class: 'form-control'

    .form-group
      = profile_builder.label :bio
      = profile_builder.text_area :bio, class: 'form-control'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', [user], class: 'btn btn-danger'
    .col-sm-4
      = f.submit 'Update Profile', class: 'btn btn-primary'
