- content_for :left_bar do
  -# .stacked-nav-title 
  -#   Actions
  -# .row
  -#   .col-sm-12
  -#     %ul.nav.nav-stacked
  -#       %li.nav-item
  -#         = link_to 'New', new_subject_path, class: 'nav-link'

  = render partial: '/shared/subjects_nav'
