= form_tag sessions_users_path, method: :post do |f|
  = render '/shared/form_errors', objectWithErrors: user_session
  .form-group
    .input-group
      %span.input-group-addon
        = fa_icon 'mobile-phone'
      = text_field_tag :mobile_number, user_session.mobile_number, class: 'form-control', placeholder: '0612345678'

  .form-group
    .input-group
      %span.input-group-addon
        = fa_icon 'lock'
      = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'

  .form-group
    = submit_tag 'Login', class: 'btn btn-primary btn-lg btn-block'
