%ul.nav.nav-tabs
  .nav-item
    = link_to 'Login', login_users_path, class: "nav-link #{nav_tab_active(['login', 'sessions'])}"
  %li.nav-item
    = link_to 'Sign Up', new_user_path, class: "nav-link #{nav_tab_active(['new', 'create'])}"
.vertical-space-1
