= form_tag(users_path) do
  = render '/shared/form_errors', objectWithErrors: user
  .form-group
    .input-group
      %span.input-group-addon
        = fa_icon 'mobile-phone'
      = text_field_tag :mobile_number, user.mobile_number, class: 'form-control', placeholder: '0612345678'

  .form-group
    .input-group
      %span.input-group-addon
        = fa_icon 'lock'
      = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'

  .form-group
    .input-group
      %span.input-group-addon
        = fa_icon 'eye'
      = password_field_tag :password_confirmation, nil, class: 'form-control', placeholder: 'Retype password'

  .form-group
    = submit_tag 'Sign Up', class: 'btn btn-primary btn-lg btn-block'
