= form_tag reset_password_user_path(user) do |f|
  - if flash[:password_errors]
    .alert.alert-danger
      = flash[:password_errors]
  - if flash[:password_notice]
    .alert.alert-success
      = flash[:password_notice]
  -# .form-group
  -#   = label_tag :current_password
  -#   = password_field_tag :current_password, nil , class: 'form-control', placeholder: 'Current Password'
  .form-group
    = label_tag :new_password
    = password_field_tag :new_password, nil, class: 'form-control', placeholder: 'New Password'
  .form-group
    = label_tag :new_password_confirmation
    = password_field_tag :new_password_confirmation, nil, class: 'form-control', placeholder: 'Confirm Password'
  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', [user], class: 'btn btn-danger'
    .col-sm-4
      = submit_tag 'Update Password', class: 'btn btn-primary'
%hr
