- content_for :left_bar do
  .row
    .col-sm-12
      .display-picture
        %img.img-fluid{src: user.profile.image.url(:medium)}
  .row
    .col-sm-12
      %h6 
        = "@#{get_username(user)}"
    .col-sm-12
      %span.label-field
        Role:
      %span.label-content
        -# Note: collection -> roles that can be set onto user by the current_user
        = best_in_place_if can?(:modify_roles, user), user, :role, as: :select, collection: current_user.modifiable_roles


= render partial: '/shared/manage', locals: {manageable: [user]}
.row
  .col-md-5
    .row
      .col-sm-12
        .label-field
          Name
      .col-sm-12
        .label-content
          = user.profile.fullname
    - if user.profile.institution
      .row
        .col-sm-12
          .label-field{title: 'School/Varsity'}
            School
        .col-sm-12
          .label-content
            = format_institution(user.profile.institution.name, user.profile.year)
      - if can?(:edit, Student) || can?(:edit, user)
        .row
          .col-sm-12
            .label-field
              Email
          .col-sm-12
            .label-content
              = user.email
        .row
          .col-sm-12
            .label-field
              Number
          .col-sm-12
            .label-content
              = user.mobile_number
  .col-md-7.bio.bg-faded
    .post
      - if user.profile.bio.present?
        = format_string(user.profile.bio)
      - else
        No bio

.row.block
  .col-sm-12
    %h4
      Discussed
  .col-sm-12
    - if @posts.any?
      = render partial: '/posts/post_index', collection: @posts, as: 'post'
    - else
      .nothing-to-list.text-sm-center
        Has not taken part in any discussion
