.row.main-notification-block
  .col-md-1.no-padding
    %img.img-fluid{src: member.user.profile.image.url(:small), alt: 'DP'}
  .col-md-6
    .row
      .col-sm-12
        = link_to get_fullname(member.user), user_path(member.user)
      .col-sm-12
        = link_to"@#{get_username(member.user)}", user_path(member.user)
  .col-md-5.text-sm-center
    .row
      .col-md-6
        .row
          .col-md-12
            Accepted
          .col-md-12

            -# This below is a hack because best_in_place_if returns an undesired result on failure
            - false_tag = '<span class="fa fa-square-o"></span>'.html_safe
            - true_tag = '<span class="fa fa-check-square-o"></span>'.html_safe
            - if can?(:update, member)
              = best_in_place [member.subject, member], :accepted, as: :checkbox, collection: {false: false_tag , true: true_tag}
            - else
              - if member.accepted
                = true_tag
              - else
                = false_tag

      .col-md-6
        .row
          .col-md-12
            Posts
          .col-md-12
            = member.user.posts.count

