.row
  .col-sm-12
    %a{href: user_path(user)}
      .row.main-notification-block
        .col-md-1.no-padding
          %img.img-fluid{src: user.profile.image.url(:small), alt: 'DP'}
        .col-md-11
          .row
            .col-sm-12
              = get_fullname(user)
            .col-sm-12
              = "@#{get_username(user)}"

