.row
  .col-sm-12
    .col-sm-10.col-sm-offset-1.col.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
      .hidden-sm-down
        .push-down-user-form
      = render partial: '/users/nav_tabs'
      = render partial: '/users/login_user_form', locals: {user_session: @user_session}
