.row.manage
  .col-sm-2.col-sm-offset-10.text-sm-right
    - if can?(:edit, get_manageable_object(manageable))
      = link_to '', edit_url(manageable), class: 'fa fa-edit'
    - if can?(:destroy, get_manageable_object(manageable))
      = link_to '', delete_url(manageable), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'fa fa-close'
