.row.user-post-text.post-details
  .col-md-4.col-md-offset-3
    - if updated?(post)
      = render partial: '/shared/time', locals: {time: post.updated_at, isUpdate: true}
  .col-md-4.col-md-offset-1
    = render partial: '/shared/user_post', locals: {user: post.user, post: post}
