.row
  .col-md-4.col-md-offset-1{title: post.subject.name}
    = link_to trunc(post.subject.name, 15), post.subject
  .col-md-7.text-sm-right
    By
    = link_to "@#{get_username(post.user)}", post.user
    = render partial: '/shared/time', locals: {time: post.created_at}
