= form_tag "#{controller}/search", class: 'form-inline pull-md-right' do

  - if current_user.profile.institution
    = link_to "School", current_user.profile.institution, class: 'btn btn-primary'

  -# = text_field_tag :term, params[:text], class: 'form-control', placeholder: 'Search'
  -# = submit_tag 'Search', class: 'btn btn-success-outline'

  - if current_user
    = link_to 'Logout', logout_users_path, class: 'btn btn-warning'
