- if subject
  .stacked-nav-title{title: subject.name}
    = trunc(subject.name)
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        %li.nav-item
          = link_to 'Announcements', subject_announcements_path(subject), class: 'nav-link'
        %li.nav-item
          = link_to 'Discussions', subject_posts_path(subject), class: 'nav-link'
        %li.nav-item
          = link_to 'Tasks', subject_tasks_path(subject), class: 'nav-link'
        -# %li.nav-item
        -#   = link_to 'Past Papers', subject_past_papers_path(subject), class: 'nav-link'
