- if defined?(isUpdate) && isUpdate
  - postText = "Edited"
- else
  -postText = "posted"
- if postText == "Edited"
  %span{title: format_time(time), data: {create: time.iso8601}}
    = "#{postText} #{format_time(time)}"
- else
  %span.time{title: format_time(time), data: {create: time.iso8601}}
    = "#{postText} #{format_time(time)}"
