.row
  .col-sm-12
    -# The actual user info
    .row{title: get_fullname(user)}
      .col-sm-2.no-padding
        %img.img-fluid{src: user.profile.image.url(:small), alt: 'DP'}
      .col-sm-10
        .row
          .col-sm-12.small-padding
            = link_to "@#{get_username(user)}", user
          .col-sm-12.small-padding

            = render partial: '/shared/time', locals: {time: post.created_at}

