- content_for :left_bar do
  = render partial: '/subjects/left_bar_contents', locals: {subject: subject}
  - if can?(:create, TaskType)
    = render partial: '/task_types/task_types_nav', locals: {subject: subject}
