- if subject
  .stacked-nav-title 
    Subject
  .row
    .col-sm-12
      %ul.nav.nav-stacked
        %li.nav-item
          = link_to 'Members', members_subject_path(subject), class: 'nav-link'

= render partial: '/shared/subjects_nav'
- if defined?(subject) && !subject.nil?
  = render partial: '/shared/subject_features', locals: {subject: subject}
