.row.main-notification-block
  .col-sm-10 
    = link_to subject.name, subject
  .col-sm-2
    - if !current_user.subjects.pluck(:id).include?(subject.id)
      = link_to 'Add', add_institution_path(subject.id)
    - else
      = link_to 'Remove', remove_institution_path(subject.id)
  %hr
