= form_for subject do |f|
  = render partial: '/shared/form_errors', locals: {objectWithErrors: subject}
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: 'Mathematics'

  .form-group
    = f.label :year
    = f.number_field :year, class: 'form-control', placeholder: '2016'

  .form-group{title: 'We use this code to associate this subject with other uploaded past papers'}
    = f.label :subject_type, 'Subject Code/Name (Government code for subject)'
    = f.text_field :subject_type, class: 'form-control', placeholder: 'Mathematics'

  .rows
    .col-sm-2.col-sm-offset-6
      = link_to 'Cancel', list_institution_path(current_user.profile.institution), class: 'btn btn-danger'
    .col-sm-4
      = f.submit nil, class: 'btn btn-primary'

  
