.row.main-notification-block
  .col-sm-10 
    = link_to subject.name, subject
  .col-sm-2
    - if can?(:add, subject) && !current_user.subjects.where(id: subject.id).first
      = link_to 'Add', add_institution_path(subject.id)
    - else
      - if can?(:remove, subject)
        = link_to 'Remove', remove_institution_path(subject.id), class: 'small-anchor-text', data: {confirm: 'Are you sure you want to remove this subject?'}
  .col-sm-12
    .row
      .col-sm-4.index-block
        = link_to "Announcements (#{subject.announcements.count})", subject_announcements_path(subject)
      .col-sm-4.index-block
        = link_to "Discussions (#{subject.posts.count})", subject_posts_path(subject)
      .col-sm-4.index-block
        = link_to "Tasks (#{subject.tasks.count})", subject_tasks_path(subject)
  %hr
