= render partial: '/subjects/left_bar', locals: {subject: @subject}
= render partial: '/subjects/subject_form', locals: {subject: @subject}
= render partial: '/subjects/right_bar', locals: {subject: @subject}
