= render partial: '/subjects/left_bar', locals: {subject: nil}
- if @subjects.none?
  .nothing-to-list.text-sm-center
    %h4
      You have no subject. Choose them from this
      = link_to 'list', list_institution_path(current_user.profile.institution)
      \.
- else
  = render partial: '/subjects/subject_preview', collection: @subjects, as: 'subject'
= render partial: '/subjects/right_bar', locals: {subject: nil}
