= render partial: '/subjects/left_bar', locals: {subject: @subject}
= render partial: '/subjects/right_bar', locals: {subject: @subject}

-# = render partial: '/subjects/subject', locals: {subject: @subject}
%h2
  Members
.students
  = render partial: '/users/user_subject_member', collection: @members, as: 'member', locals: {subject: @subject}
