= render partial: '/subjects/left_bar', locals: {subject: @subject}
= render partial: '/subjects/right_bar', locals: {subject: @subject}

= render partial: '/shared/manage', locals: {manageable: @subject}

.row.block
  .col-sm-12
    - if @announcements.any?
      %h4.index-subject-title.pull-up-1
        Last 5 announcements
    - else
      %h4.index-subject-title
        Last 5 announcements

  .col-sm-12
    - if @announcements.any?
      = render partial: '/subjects/subject', collection: @announcements, as: 'announcement', locals: {subject: @subject, manageable: false}
    - else
      .nothing-to-list.text-sm-center
        No announcements to show last 5...
