.row.main-notification-block
  .col-sm-12
    .row
      .col-md-2.text-sm-center
        .row
          .col-sm-12
            = post.comments.count
          .col-sm-12
            Posts
      .col-md-10
        .row
          .col-sm-12
            = link_to post.title, [post.subject, post], class: 'title'
          .col-sm-12
            = render partial: '/shared/post_index_details', locals: {post: post}
