.row
  .col-sm-12
    = render partial: '/shared/manage', locals: {manageable: [subject, post]}
.row
  .col-sm-12
    %h4.title
      = post.title
  .col-sm-12.post
    = format_string(post.body)
  .col-sm-12
    = render  partial: '/shared/post_details', locals: {post: post}
.row.comments
  .col-sm-12
    .row
      - comment_count = post.comments.count
      .count
        = "#{pluralize(comment_count, 'Comment')}"
  .col-sm-12
    .row
      = render partial: '/comments/comment', collection: post.comments, as: 'comment', locals: {subject: subject, post: post}
  - if can?(:create, comment)
    .col-sm-12
      .row
        = render partial: '/comments/comment_form', locals: {subject: subject, post: post, comment: comment}
