= render partial: '/posts/left_bar', locals: {subject: @subject, post: @post}
= render partial: '/posts/post_form', locals: {subject: @subject, post: @post}
= render partial: '/posts/right_bar', locals: {subject: @subject}
