= render partial: '/posts/left_bar', locals: {subject: @subject, post: nil}
- if @posts.any?
  = render partial: '/posts/post_index', collection: @posts, locals: {subject: @subject}, as: 'post'
- else
  .nothing-to-list.text-sm-center
    No discussion posted yet... Be the first ;-)
= render partial: '/posts/right_bar', locals: {subject: @subject}
