= render partial: '/posts/left_bar', locals: {subject: @subject, post: @post}
= render partial: '/posts/post', locals: {subject: @subject, post: @post, comment: @comment}
= render partial: '/posts/right_bar', locals: {subject: @subject}
