.access-denied {
  border: {
    color: $red;
    radius: 1rem;
    style: solid;
    width: .0625rem * 2;
  }
  color: $red;
  font: {
    size: 1.2rem;
  }
  margin-top: 5rem;
  padding: {
    bottom: 3rem;
    top: 3rem;
  }
  text-align: center;
}
