.comments {

  font-size: .875rem;
  margin-top: 1.5rem;

  .count {
    border: {
      color: transparent transparent $color-comment-border transparent;
      style: solid;
      width: .0625rem;
    }
    font-size: 1.1rem;
  }

  .comment {

    border: {
      color: $color-comment-border;
      style: solid;
      width: .0625rem;
    }

    margin: 1rem auto;

    .head {
      background-color: $very-light-grey;
      border: {
        color: transparent transparent $color-comment-border transparent;
        style: solid;
        width: .0625rem;
      }
      font-size: .9rem;

    }

    .inner-head {
      margin: .225rem auto;
    }

    .body {
      margin-top: .5rem;
    }
  }
}
