.block {
  margin: {
    bottom: 1.5rem;
    top: 1.5rem;
  }
}

.nothing-to-list {
  border: {
    color: $light-grey;
    style: solid;
    width: .0625rem;
  }
  color: $light-grey;
  font-size: 1.3rem;
  padding: {
    bottom: .9rem;
    top: .9rem;
  }
}

.no-padding {
  padding: {
    left: 0;
    right: 0;
  }
}

.date-select {
  display: inline-block;
  width: auto;
}

.small-padding {
  padding: {
    left: .5em;
    right: .5em;
  }
}

.username {
  margin-right: .75rem;
}

.time {
  color: $color-time;
}

.small-anchor-text {
  font-size: .8rem;
}

a:hover {
  text-decoration: none;
}

.small-anchor-text:hover {
  text-decoration: none;
}


.label-field {
  font-weight: bold;
}

.label-content {
}

.times {
  font-size: .9rem;
  margin-bottom: .6rem;
}

.post {
  font-size: .9375rem;
  margin: .5rem auto;
  // background-color: #808080;
}

.post-details {
  border: {
    color: $very-light-grey;
    style: solid;
    width: .0625rem 0 0 0;
  }
  padding: {
    top: .5rem;
  }
}

.main-notification-block {
  $border-width: .0625rem;
  // background-color: #f7f7f7;
  border: {
    color:  $very-light-grey transparent; //$color-index-border
    style: solid;
    width: $border-width;
  }
  font-size: .9375rem;
  margin-top: -$border-width;
  // margin: .5rem auto;

  .title {
    font-size: 1.1rem;
    border: none;
  }
}
