.left-bar {
  
  font-size: 0.85rem;

  $nav-border-width: 0.0625rem;
  .nav-stacked {
    // margin-top: -($nav-border-width);
    // border: {
    //   color: $very-light-grey transparent;
    //   width: $nav-border-width;
    //   style: solid;
    // }
  }

  ul {
    margin-left: 0.425rem;
  }

  .stacked-nav-title {
    margin-top: 0.75rem;
  }
}
