@import "bootstrap";
@import "font-awesome";
@import 'sizes';
@import 'colors';
@import 'mixins';
@import 'spaces';

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 64rem; //TODO: Remove this so users can also use this app on phones (1024px)
}

.clear {
  clear: both;
}

.separate-nav-and-content {
  margin: 4rem 0;
}

@import 'structure';
@import 'users';
@import 'institutions';
@import 'subjects';
@import 'announcements';
@import 'discussions';
@import 'past_papers';
@import 'task_types';
@import 'comments';
@import 'attachments';
@import 'access_denied';
@import 'global';
