- if flash[:notice]
  .alert.alert-success{role: 'alert'}
    %ul
      - if flash[:notice].is_a?(Array)
        - flash[:notice].each do |message|
          %li 
            = message
      - else
        %li
          = flash[:notice]

- if flash[:alert]
  .alert.alert-danger{role: 'alert'}
    %ul
      - if flash[:alert].is_a?(Array)
        - flash[:alert].each do |message|
          %li 
            = message
      - else
        %li
          = flash[:alert]
