%head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Mls
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
