
.navbar.navbar-light.navbar-fixed-top.bg-faded
  .container
    %a.navbar-brand{href: '/'}
      Bazido

    - if !current_user
      %ul.nav.navbar-nav.pull-right
        %li.nav-item
          = link_to 'Account', login_users_path, class: 'btn btn-info'

    - if current_user
      %ul.nav.navbar-nav.col-md-offset-2
        %li.nav-item
          = link_to 'Subjects', subjects_path, class: 'nav-link'
        -# %li.nav-item
        -#   = link_to 'Opportunities', users_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Past Papers', past_papers_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Institutions', institutions_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Users', users_path, class: 'nav-link'


    - if current_user
      = render partial: '/shared/search', locals: {controller: controller_name}

.clear.separate-nav-and-content
