!!!
%html
  = render partial: '/layouts/head'
  %body

    = render partial: '/layouts/navigation'

    .container
      .row
        .col-md-2
          = render partial: '/layouts/left_bar'
        .col-md-7
          = render partial: '/layouts/content'
        .col-md-3
          = render partial: '/layouts/right_bar'
