!!!
%html
  = render partial: '/layouts/head'
  %body

    = render partial: '/layouts/navigation'

    .container
      .row
        .col-md-9
          = render partial: '/layouts/flash'
          .content
            = yield
        .col-md-3
          = render partial: '/layouts/right_bar'
