!!!
%html
  = render partial: '/layouts/head'
  %body

    = render partial: '/layouts/navigation'

    .container
      .row
        .col-sm-12
          = render partial: '/layouts/flash'
          .content
            = yield
